# Virtual Environment
venv/
.venv/
backend/.venv/
__pycache__/
*.pyc

# IDE files
.vscode/
.cursor/
.idea/

# Environment files
.env
.env.*
backend/.env
backend/.env.*

# Logs (Ignore this if youare a developer just my thing)
codecache.txt