# The database URL for your locally running MongoDB
DATABASE_URL="mongodb://localhost:27017"
DATABASE_NAME="portfolio_db"

# A secret key for encoding JWT tokens. CHANGE THIS to a long, random string.
SECRET_KEY="a-very-secret-key-that-you-should-definitely-change"

CLOUDINARY_URL=cloudinary://few-random-numbers:-some-secret-string

#you are smart enough to figure this out